{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Uniswap Trading API",
      "url": "https://trade-api.gateway.uniswap.org/v1"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Token Trading",
    "description": "Uniswap Labs trading APIs.\n\nOperations, parameters, and schema fields may include the vendor extension `x-internal` (boolean). Only `x-internal: true` marks an operation or field as internal and omits it from public docs. If `x-internal` is omitted or set to `false`, the operation or field is external and shown in the docs. Agents and humans should not use any fields marked with `x-internal: true` because they either will not work through public API access or may cause unintended outcomes. See the [OpenAPI specification extensions](https://swagger.io/docs/specification/v3_0/openapi-extensions/) definition of `x-` fields."
  },
  "paths": {
    "/check_approval": {
      "post": {
        "tags": [
          "swapping"
        ],
        "summary": "Check swap approvals",
        "description": "Allows the requestor to check if the `walletAddress` has the required approval to transact the `token` up to the `amount` specified. If the `walletAddress` does not have the required approval, the response will include a transaction to approve the token spend. If the `walletAddress` has the required approval, the response will return the approval with a `null` value. If the parameter `includeGasInfo` is set to `true` and an approval is needed, then the response will include both the transaction and the gas fee for the approval transaction.\n\nCertain tokens may require that approval be reset before approving a new spend amount. If this condition is detected for the `walletAddress` and `token`, the response will include the necessary approval cancellation in the `cancel` paragraph. When `cancel` is not applicable, the paragraph will have a `null` value.",
        "operationId": "check_approval",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/permit2DisabledHeader"
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalRequest"
              },
              "example": {
                "chainId": 1,
                "urgency": "urgent",
                "includeGasInfo": true,
                "walletAddress": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "token": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599",
                "amount": "2516"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ApprovalSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/ApprovalNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/permissions": {
      "post": {
        "tags": [
          "utilities"
        ],
        "summary": "Check token KYC permissions",
        "description": "For each token in the request, reports whether the token requires a permissioned adapter and whether the supplied `walletAddress` is allowlisted to trade it. If the token is permissioned but the wallet is not allowlisted, the response includes a `kycUrl` the wallet holder must complete to gain access. The request supports a maximum of 2 tokens.",
        "operationId": "permissions",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionsRequest"
              },
              "example": {
                "walletAddress": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "tokens": [
                  "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599"
                ],
                "chainId": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PermissionsSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/PermissionsNotFound404"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ]
      }
    },
    "/quote": {
      "post": {
        "tags": [
          "swapping"
        ],
        "summary": "Get a quote",
        "description": "Requests a quote according to the specified swap parameters. This endpoint may be used to get a quote for a swap, a bridge, or a wrap/unwrap. The resulting response includes a quote for the swap and the proposed route by which the quote was achieved. The response will also include estimated gas fees for the proposed quote route. If the proposed route is via a Uniswap Protocol pool, the response may include a permit2 message for the swapper to sign prior to making a /swap request. The proposed route will also be simulated. If the simulation fails, the response will include an error message or `txFailureReason`.\n\nCertain routing options may be whitelisted by the requestor through the use of the `protocols` field. Further, the requestor may ask for the best price route or for the fastest price route through the 'routingPreference' field. Note that the fastest price route refers to the speed with which a quote is returned, not the number of transactions that may be required to get from the input token and chain to the output token and chain. Further note that all `routingPreference` values except for `FASTEST` and `BEST_PRICE` are deprecated. For more information on the `protocols` and `routingPreference` fields, see the [Token Trading Workflow](https://uniswap-docs.readme.io/reference/trading-flow#swap-routing) explanation of Swap Routing.\n\nAPI integrators using this API for the benefit of customer end users may request a service fee be taken from the output token and deposited to a fee collection address. To request this, please reach out to your Uniswap Labs contact. This optional fee is associated to the API key and is always taken from the output token. Note if there is a fee and the `type` is `EXACT_INPUT`, the output amount quoted will **not** include the fee subtraction. If there is a fee and the `type` is `EXACT_OUTPUT`, the input amount quoted will **not** include the fee addition. Instead, in both cases, the fee will be recorded in the `aggregatedOutputs` field.\n\nNative ETH on UniswapX: UniswapX routes (e.g. `DUTCH_V2`, `DUTCH_V3`, `PRIORITY`) can use native ETH as the input token by setting `tokenIn` to the native currency address (e.g. `0x0000000000000000000000000000000000000000`) and passing `x-erc20eth-enabled: true`. Native ETH input on UniswapX requires wallet support for EIP-7914, a smart wallet activated on your desired network, and a sufficient native allowance (set via /swap_7702 if x-erc20eth-enabled header is set to `true`). If these requirements are not met, UniswapX quotes for native input may be omitted and the response may fall back to `CLASSIC` routing instead.",
        "operationId": "aggregator_quote",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/universalRouterVersionHeader"
          },
          {
            "$ref": "#/components/parameters/erc20EthEnabledHeader"
          },
          {
            "$ref": "#/components/parameters/permit2DisabledHeader"
          },
          {
            "$ref": "#/components/parameters/swapStepsEnabledHeader"
          },
          {
            "$ref": "#/components/parameters/experimentalRoutingHeader"
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              },
              "example": {
                "type": "EXACT_INPUT",
                "tokenInChainId": 1,
                "tokenOutChainId": 1,
                "generatePermitAsTransaction": false,
                "autoSlippage": "DEFAULT",
                "routingPreference": "BEST_PRICE",
                "spreadOptimization": "EXECUTION",
                "urgency": "normal",
                "permitAmount": "FULL",
                "amount": "2516",
                "tokenIn": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599",
                "tokenOut": "0x0000000000000000000000000000000000000000",
                "swapper": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "protocols": [
                  "UNISWAPX_V2",
                  "V4",
                  "V3",
                  "V2"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/QuoteSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/QuoteNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/order": {
      "post": {
        "tags": [
          "swapping"
        ],
        "summary": "Create a gasless order",
        "description": "The order endpoint is used to submit a UniswapX intent. If the `routing` field in the response to a quote is any of `DUTCH_V2`, `DUTCH_V3`, `LIMIT_ORDER`, or `PRIORITY` this endpoint is used to submit your order to the UniswapX protocol to be filled by the filler network. These orders are gasless because the filler will pay the gas to complete the transaction.\n\nThe order will be validated and, if valid, will be submitted to the filler network. The network will try to fill the order at the quoted `startAmount`. If the order is not filled at the `startAmount` by the `deadline`, the amount will start decaying until the `endAmount` is reached. The order will remain `open` until it is either filled, canceled, or has expired by remaining unfilled beyond the `decayEndTime`.\n\nFor simplicity, the order request is identical to the quote response except for the addition of the signed permit.\n\nNative ETH on UniswapX: If the quote you are submitting uses native ETH as the input token (e.g. `tokenIn` is `0x0000000000000000000000000000000000000000`), include `x-erc20eth-enabled: true`. Native ETH input on UniswapX requires wallet support for EIP-7914 and sufficient native allowance. For 7702-delegated smart contract wallets, you can generate the required approval call(s) via `/swap_7702` when needed.",
        "operationId": "post_order",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/erc20EthEnabledHeader"
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/OrderSuccess201"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "503": {
            "$ref": "#/components/responses/OrderUnavailable503"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "swapping"
        ],
        "summary": "Get gasless order status",
        "description": "Retrieve one or more gasless orders filtered, optionally filered by query param(s). The request must at minimum include one of the following parameters: `orderId`, `orderIds`, `orderStatus`, `swapper`, or `filler`.",
        "operationId": "get_order",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orderTypeParam"
          },
          {
            "$ref": "#/components/parameters/orderIdParam"
          },
          {
            "$ref": "#/components/parameters/orderIdsParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/orderStatusParam"
          },
          {
            "$ref": "#/components/parameters/swapperParam"
          },
          {
            "$ref": "#/components/parameters/sortKeyParam"
          },
          {
            "$ref": "#/components/parameters/sortParam"
          },
          {
            "$ref": "#/components/parameters/fillerParam"
          },
          {
            "$ref": "#/components/parameters/cursorParam"
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrdersSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/OrdersBadRequest400"
          },
          "404": {
            "$ref": "#/components/responses/OrdersNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "503": {
            "$ref": "#/components/responses/OrdersUnavailable503"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/swap": {
      "post": {
        "tags": [
          "swapping"
        ],
        "summary": "Create swap calldata",
        "description": "Create the calldata for a swap transaction (including wrap/unwrap) against the Uniswap Protocols. If the `quote` parameter includes the fee parameters, then the calldata will include the fee disbursement. The gas estimates will be **more precise** when the the response calldata would be valid if submitted on-chain.",
        "operationId": "create_swap_transaction",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/universalRouterVersionHeader"
          },
          {
            "$ref": "#/components/parameters/permit2DisabledHeader"
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSwapRequest"
              },
              "example": {
                "quote": {
                  "chainId": 1,
                  "input": {
                    "amount": "2516",
                    "token": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599"
                  },
                  "output": {
                    "amount": "996320746321162",
                    "token": "0x0000000000000000000000000000000000000000",
                    "recipient": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421"
                  },
                  "swapper": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                  "route": [
                    [
                      {
                        "type": "v4-pool",
                        "address": "0x599326d9cd5e1ea0893305c87d5ec3199e7f05e94d72159f35dea381479a615e",
                        "tokenIn": {
                          "chainId": 1,
                          "decimals": "8",
                          "address": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599",
                          "symbol": "WBTC"
                        },
                        "tokenOut": {
                          "chainId": 1,
                          "decimals": "18",
                          "address": "0x0000000000000000000000000000000000000000",
                          "symbol": "ETH"
                        },
                        "fee": "500",
                        "tickSpacing": "10",
                        "hooks": "0x0000000000000000000000000000000000000000",
                        "liquidity": "82781860385007263",
                        "sqrtRatioX96": "125814565506407615477027",
                        "tickCurrent": "-267075",
                        "amountIn": "2516",
                        "amountOut": "993829944455359"
                      }
                    ]
                  ],
                  "slippage": 5.5,
                  "tradeType": "EXACT_INPUT",
                  "quoteId": "62e83902-9455-405d-8c62-cdf8ee9e2042",
                  "gasFeeUSD": "1.27511942409885062",
                  "gasFeeQuote": "489108586810000",
                  "gasUseEstimate": "180350",
                  "priceImpact": 0.14,
                  "txFailureReasons": [],
                  "maxPriorityFeePerGas": "2000000000",
                  "maxFeePerGas": "4656513686",
                  "gasFee": "489108586810000",
                  "routeString": "[V4] 100.00% = WBTC -- 0.05% [0x599326d9cd5e1ea0893305c87d5ec3199e7f05e94d72159f35dea381479a615e]ETH",
                  "blockNumber": "22483653",
                  "aggregatedOutputs": [
                    {
                      "amount": "993829944455360",
                      "token": "0x0000000000000000000000000000000000000000",
                      "recipient": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                      "bps": 9975,
                      "minAmount": "993829944455360"
                    },
                    {
                      "amount": "2490801865802",
                      "token": "0x0000000000000000000000000000000000000000",
                      "recipient": "0x000000fee13a103A10D593b9AE06b3e05F2E7E1c",
                      "bps": 25,
                      "minAmount": "2490801865802",
                      "fee": "INTEGRATOR"
                    }
                  ]
                },
                "permitData": {
                  "domain": {
                    "name": "Permit2",
                    "chainId": 1,
                    "verifyingContract": "0x000000000022D473030F116dDEE9F6B43aC78BA3"
                  },
                  "types": {
                    "PermitSingle": [
                      {
                        "name": "details",
                        "type": "PermitDetails"
                      },
                      {
                        "name": "spender",
                        "type": "address"
                      },
                      {
                        "name": "sigDeadline",
                        "type": "uint256"
                      }
                    ],
                    "PermitDetails": [
                      {
                        "name": "token",
                        "type": "address"
                      },
                      {
                        "name": "amount",
                        "type": "uint160"
                      },
                      {
                        "name": "expiration",
                        "type": "uint48"
                      },
                      {
                        "name": "nonce",
                        "type": "uint48"
                      }
                    ]
                  },
                  "values": {
                    "details": {
                      "token": "0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599",
                      "amount": "1461501637330902918203684832716283019655932542975",
                      "expiration": "1749845047",
                      "nonce": "1"
                    },
                    "spender": "0x66a9893cc07d91d95644aedd05d03f95e1dba8af",
                    "sigDeadline": "1747254847"
                  }
                },
                "signature": "0xb22e7f47d8...",
                "simulateTransaction": true,
                "refreshGasPrice": true,
                "safetyMode": "SAFE",
                "urgency": "normal"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateSwapSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/SwapUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/SwapNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/swaps": {
      "get": {
        "tags": [
          "swapping"
        ],
        "summary": "Get swap status",
        "description": "Get the status of swap or bridge transactions. Accepts on-chain transaction hashes (`txHashes`), ERC-4337 userOperation hashes (`userOpHashes`), or both. At least one of the two must contain at least one item.",
        "operationId": "get_swaps",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/transactionHashesParam"
          },
          {
            "$ref": "#/components/parameters/userOpHashesParam"
          },
          {
            "$ref": "#/components/parameters/chainIdParam"
          },
          {
            "$ref": "#/components/parameters/swapperParam",
            "x-internal": true
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSwapsSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "404": {
            "$ref": "#/components/responses/SwapNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/swappable_tokens": {
      "get": {
        "tags": [
          "utilities"
        ],
        "summary": "Get bridgable tokens",
        "description": "Returns the list of destination bridge chains for a given token on a given chain.",
        "operationId": "get_swappable_tokens",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tokenInParam"
          },
          {
            "$ref": "#/components/parameters/bridgeTokenInChainIdParam"
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSwappableTokensSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/supported_chains": {
      "get": {
        "tags": [
          "utilities"
        ],
        "summary": "Get supported chains",
        "description": "Returns the list of chains supported by the Trading API, including protocol contract addresses and the protocols and actions available on each chain.",
        "operationId": "get_supported_chains",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSupportedChainsSuccess200"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/tokens": {
      "get": {
        "tags": [
          "utilities"
        ],
        "summary": "Get tokens",
        "description": "Returns a list of tokens and their associated metadata, formatted in the style of a token list. `sort=tvl` and `sort=volume_24h` return the top `limit` tokens ranked across the requested chains, expanded to one entry per chain instance. `sort=default` (the default) returns the full Uniswap default token list; `limit` and `chainId` are ignored. `sort=bridgeable` returns all tokens with at least one bridgeable chain executable via the Uniswap API. This endpoint never returns `404`: an empty result (e.g. a ranked sort with no data for the requested chain) is a `200` with an empty `tokens` array, and internal data-source failures surface as `500`, or `504` on timeout.",
        "operationId": "get_tokens",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tokenListSortParam"
          },
          {
            "$ref": "#/components/parameters/tokenListLimitParam"
          },
          {
            "$ref": "#/components/parameters/chainIdParam"
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetTokensSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/limit_order_quote": {
      "post": {
        "tags": [
          "swapping"
        ],
        "summary": "Get a limit order quote",
        "description": "Get a quote for a limit order according to the provided configuration.",
        "operationId": "get_limit_order_quote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LimitOrderQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LimitOrderQuoteSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "x-internal": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ]
      }
    },
    "/lp/check_approval": {
      "servers": [
        {
          "description": "Uniswap LP API",
          "url": "https://liquidity.api.uniswap.org/"
        }
      ],
      "post": {
        "tags": [
          "liquidity-provisioning"
        ],
        "summary": "Check LP token approvals",
        "description": "Checks whether the wallet has the required token approvals to perform an LP action (create, increase, decrease, or migrate). Returns any needed approval transactions. If `simulateTransaction` is set to `true`, the response will include gas fees for the approval transactions.\n\nThe `action` field specifies which LP operation the approval is for. Different actions may require different approvals (e.g., V2 decrease requires approval of the LP token, V3 migrate requires approval of the V3 NFT).",
        "operationId": "check_lp_approval",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LPApprovalRequest"
              },
              "example": {
                "walletAddress": "0x...",
                "protocol": "V2",
                "chainId": 1,
                "lpTokens": [
                  {
                    "tokenAddress": "0x455e53cbb86018ac2b8092fdcd39d8444affc3f6",
                    "amount": "1000000000000000000"
                  },
                  {
                    "tokenAddress": "0xdac17f958d2ee523a2206206994597c13d831ec7",
                    "amount": "100650"
                  }
                ],
                "action": "CREATE"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LPApprovalSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/ApprovalNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ]
      }
    },
    "/lp/create": {
      "servers": [
        {
          "description": "Uniswap LP API",
          "url": "https://liquidity.api.uniswap.org/"
        }
      ],
      "post": {
        "tags": [
          "liquidity-provisioning"
        ],
        "summary": "Create a V3 or V4 LP position",
        "description": "Creates a new LP position in a V3 or V4 pool (including full-range positions). You can create a position in an existing pool by providing `existingPool` parameters, or create a new pool by providing `newPool` parameters (fee, tick spacing, initial price, and optionally hooks for V4). The position's price range is specified via either `priceBounds` or `tickBounds`. The server computes the dependent token amount. If `simulateTransaction` is set to `true`, the response will include the gas fee.",
        "operationId": "create_position",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePositionRequest"
              },
              "example": {
                "walletAddress": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "existingPool": {
                  "token0Address": "0x0000000000000000000000000000000000000000",
                  "token1Address": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                  "poolReference": "0x96d4b53a38337a5733179751781178a2613306063c511b78cd02684739288c0a"
                },
                "chainId": 8453,
                "protocol": "V4",
                "independentToken": {
                  "tokenAddress": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                  "amount": "3000000"
                },
                "dependentToken": {
                  "tokenAddress": "0x0000000000000000000000000000000000000000",
                  "amount": "952630553245231"
                },
                "tickBounds": {
                  "tickLower": -198950,
                  "tickUpper": -198200
                },
                "simulateTransaction": false,
                "nativeTokenBalance": "19345734941139696"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreatePositionSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/LPNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ]
      }
    },
    "/lp/increase": {
      "servers": [
        {
          "description": "Uniswap LP API",
          "url": "https://liquidity.api.uniswap.org/"
        }
      ],
      "post": {
        "tags": [
          "liquidity-provisioning"
        ],
        "summary": "Increase an LP position",
        "description": "Increases liquidity in an existing position. Specify the independent token and amount; the server derives the dependent token amount from the current pool state. Supports V2 (by token pair), V3, and V4 (by NFT token ID). If `simulateTransaction` is set to `true`, the response will include the gas fee.",
        "operationId": "increase_position",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncreasePositionRequest"
              },
              "example": {
                "walletAddress": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                "chainId": 8453,
                "protocol": "V3",
                "token0Address": "0x0000000000000000000000000000000000000000",
                "token1Address": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "nftTokenId": "4986936",
                "independentToken": {
                  "tokenAddress": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                  "amount": "3000000"
                },
                "simulateTransaction": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/IncreasePositionSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/LPNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ]
      }
    },
    "/lp/decrease": {
      "servers": [
        {
          "description": "Uniswap LP API",
          "url": "https://liquidity.api.uniswap.org/"
        }
      ],
      "post": {
        "tags": [
          "liquidity-provisioning"
        ],
        "summary": "Decrease an LP position",
        "description": "Decreases liquidity in an existing position by a specified percentage. The server derives all position state (liquidity, fees, ticks) from on-chain data. Supports V2 (by token pair), V3, and V4 (by NFT token ID). If `simulateTransaction` is set to `true`, the response will include the gas fee.",
        "operationId": "decrease_position",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecreasePositionRequest"
              },
              "example": {
                "walletAddress": "0x...",
                "chainId": 130,
                "protocol": "V4",
                "token0Address": "0x0000000000000000000000000000000000000000",
                "token1Address": "0x078D782b760474a361dDA0AF3839290b0EF57AD6",
                "nftTokenId": "1833079",
                "liquidityPercentageToDecrease": 25,
                "simulateTransaction": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DecreasePositionSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/LPNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ]
      }
    },
    "/lp/claim_fees": {
      "servers": [
        {
          "description": "Uniswap LP API",
          "url": "https://liquidity.api.uniswap.org/"
        }
      ],
      "post": {
        "tags": [
          "liquidity-provisioning"
        ],
        "summary": "Claim LP position fees",
        "description": "Claims accumulated trading fees from a V3 or V4 LP position. If `simulateTransaction` is set to `true`, the response will include the gas fee for the claim transaction.\n\nNote: V2 positions do not have claimable fees. V2 trading fees are automatically added to your LP token balance.",
        "operationId": "claim_fees",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimFeesRequest"
              },
              "example": {
                "protocol": "V4",
                "walletAddress": "0x...",
                "chainId": 130,
                "tokenId": "1833079",
                "simulateTransaction": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClaimFeesSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/LPNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ]
      }
    },
    "/lp/create_classic": {
      "servers": [
        {
          "description": "Uniswap LP API",
          "url": "https://liquidity.api.uniswap.org/"
        }
      ],
      "post": {
        "tags": [
          "liquidity-provisioning"
        ],
        "summary": "Create a classic (V2) LP position",
        "description": "Creates a full-range liquidity position in a Uniswap V2 pool. Specify the independent token and amount; the server computes the dependent token amount based on the current pool ratio. If `simulateTransaction` is set to `true`, the response will include the gas fee for the creation transaction.",
        "operationId": "create_classic_position",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassicPositionRequest"
              },
              "example": {
                "walletAddress": "0x...",
                "poolParameters": {
                  "token0Address": "0x0000000000000000000000000000000000000000",
                  "token1Address": "0xc02fe7317d4eb8753a02c35fe019786854a92001",
                  "chainId": 130
                },
                "independentToken": {
                  "tokenAddress": "0xc02fe7317d4eb8753a02c35fe019786854a92001",
                  "amount": "1000000000000000"
                },
                "dependentToken": {
                  "tokenAddress": "0x0000000000000000000000000000000000000000",
                  "amount": "1227700073369630"
                },
                "simulateTransaction": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateClassicPositionSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/LPNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ]
      }
    },
    "/lp/pool_info": {
      "servers": [
        {
          "description": "Uniswap LP API",
          "url": "https://liquidity.api.uniswap.org/"
        }
      ],
      "post": {
        "tags": [
          "utilities"
        ],
        "summary": "Get pool state",
        "description": "Fetches detailed information about one or more liquidity pools across Uniswap V2, V3, and V4. Returns pool state including token addresses, reserves, liquidity, current tick, sqrtRatioX96, fee tier, tick spacing, and hook addresses (V4).\n\nProvide one of `poolParameters` or `poolReferences` (not both):\n- `poolParameters`: Look up pools by token pair. Provide token addresses and optional fee/tickSpacing/hooks to find matching pools.\n- `poolReferences`: Look up specific known pools by their reference identifier (pool address for V3, pool ID for V4, pair address for V2). Limited to 20 references per request; larger batches are rejected with a 400 RequestValidationError.\n\nPool reserves (`token0Reserves`/`token1Reserves`) are returned for V2 pools and, best-effort, for V4 pools. V4 reserves are the fee-excluded core principal computed from on-chain pool state: uncollected LP fees, donations, and hook-held assets are excluded, and for pools whose hooks perform custom accounting the value approximates swappable reserves.",
        "operationId": "pool_info",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PoolInfoRequest"
              },
              "example": {
                "protocol": "V4",
                "chainId": 1,
                "poolParameters": {
                  "tokenAddressA": "0x0000000000000000000000000000000000000000",
                  "tokenAddressB": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                  "fee": 3000,
                  "tickSpacing": 60
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PoolInfoResponse200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/ApprovalUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/PoolInfoNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ]
      }
    },
    "/wallet/encode_7702": {
      "post": {
        "tags": [
          "swap-batching"
        ],
        "summary": "Encode wallet transactions",
        "description": "Encodes a list of transactions into a single transaction for an EIP-7702 delegated smart contract wallet. All transactions must have the same chainId.",
        "operationId": "wallet_encode_7702",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletEncode7702RequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/WalletEncode7702Success200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ]
      }
    },
    "/wallet/check_delegation": {
      "post": {
        "tags": [
          "utilities"
        ],
        "summary": "Get wallet delegations",
        "description": "Gets the current delegation status and message for a smart contract wallet across different chains. Returns delegation information for each chain ID in the request.",
        "operationId": "wallet_check_delegation",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletCheckDelegationRequestBody"
              },
              "example": {
                "walletAddresses": [
                  "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421"
                ],
                "chainIds": [
                  1,
                  8453
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/WalletCheckDelegationSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ]
      }
    },
    "/swap_5792": {
      "post": {
        "tags": [
          "swap-batching"
        ],
        "summary": "Create swap EIP 5792 calldata",
        "description": "Create the EIP 5792 calldata for a swap transaction (including wrap/unwrap and bridging) against the Uniswap Protocols. If the `quote` parameter includes the fee parameters, then the calldata will include the fee disbursement. The gas estimates will be **more precise** when the response calldata would be valid if submitted on-chain.",
        "operationId": "create_swap_5792_transaction",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSwap5792Request"
              },
              "example": {
                "quote": {
                  "chainId": 8453,
                  "swapper": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                  "tradeType": "EXACT_INPUT",
                  "route": [
                    [
                      {
                        "type": "v4-pool",
                        "address": "0x636da53e0251b3cb0b4d10dbaff488b294f97bd5212b7e2a7c1bc3fb57fd6e31",
                        "tokenIn": {
                          "address": "0x624e2e7fDc8903165F64891672267AB0FCB98831",
                          "chainId": 8453,
                          "symbol": "SOSO",
                          "decimals": "18"
                        },
                        "tokenOut": {
                          "address": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                          "chainId": 8453,
                          "symbol": "USDC",
                          "decimals": "6"
                        },
                        "sqrtRatioX96": "51868315841017165286814",
                        "liquidity": "60642987270239502",
                        "tickCurrent": "-284797",
                        "fee": "1",
                        "tickSpacing": "1",
                        "hooks": "0x0000000000000000000000000000000000000000",
                        "amountIn": "4666414752365827583",
                        "amountOut": "1999890"
                      }
                    ]
                  ],
                  "input": {
                    "amount": "4666414752365827583",
                    "token": "0x624e2e7fDc8903165F64891672267AB0FCB98831"
                  },
                  "output": {
                    "amount": "1999890",
                    "token": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "recipient": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421"
                  },
                  "slippage": 2.5,
                  "priceImpact": 0.01,
                  "gasFee": "1664618749624",
                  "gasFeeUSD": "0.002335228716641861",
                  "gasFeeQuote": "2335",
                  "gasUseEstimate": "162169",
                  "routeString": "[v4] 100.00% = [0.0001%] [1] [0x0000000000000000000000000000000000000000] 0x636da53e0251b3cb0b4d10dbaff488b294f97bd5212b7e2a7c1bc3fb57fd6e31",
                  "blockNumber": "45041016",
                  "quoteId": "dccb2b4f-3b0c-46be-8e17-9fb103d44990",
                  "gasPrice": "9000000",
                  "txFailureReasons": [],
                  "aggregatedOutputs": [
                    {
                      "amount": "1999890",
                      "token": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "recipient": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                      "bps": 10000,
                      "minAmount": "1949892"
                    }
                  ]
                },
                "permitData": {
                  "domain": {
                    "name": "Permit2",
                    "chainId": 8453,
                    "verifyingContract": "0x000000000022D473030F116dDEE9F6B43aC78BA3"
                  },
                  "types": {
                    "PermitSingle": [
                      {
                        "name": "details",
                        "type": "PermitDetails"
                      },
                      {
                        "name": "spender",
                        "type": "address"
                      },
                      {
                        "name": "sigDeadline",
                        "type": "uint256"
                      }
                    ],
                    "PermitDetails": [
                      {
                        "name": "token",
                        "type": "address"
                      },
                      {
                        "name": "amount",
                        "type": "uint160"
                      },
                      {
                        "name": "expiration",
                        "type": "uint48"
                      },
                      {
                        "name": "nonce",
                        "type": "uint48"
                      }
                    ]
                  },
                  "values": {
                    "details": {
                      "token": "0x624e2e7fDc8903165F64891672267AB0FCB98831",
                      "amount": "1461501637330902918203684832716283019655932542975",
                      "expiration": "1779463380",
                      "nonce": "0"
                    },
                    "spender": "0x6ff5693b99212da76ad316178a184ab56d299b43",
                    "sigDeadline": "1776873180"
                  }
                },
                "urgency": "normal"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/universalRouterVersionHeader"
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateSwap5792Success200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/SwapUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/SwapNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/swap_7702": {
      "post": {
        "tags": [
          "swap-batching"
        ],
        "summary": "Create swap EIP 7702 calldata",
        "description": "Create the EIP 7702 calldata for a swap transaction (including wrap/unwrap and bridging) against the Uniswap Protocols. If the `quote` parameter includes the fee parameters, then the calldata will include the fee disbursement. The gas estimates will be **more precise** when the the response calldata would be valid if submitted on-chain.\n\nNative ETH / UniswapX setup: When `x-erc20eth-enabled` is `true` and the input token is native ETH, the response may include an additional native approval call (e.g. an `approveNative` step) to enable ERC20-ETH (EIP-7914) spending for the wallet. This native allowance is a prerequisite for native ETH input on UniswapX (`/quote` then `/order`) for supported wallets.",
        "operationId": "create_swap_7702_transaction",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSwap7702Request"
              },
              "example": {
                "quote": {
                  "chainId": 8453,
                  "swapper": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                  "tradeType": "EXACT_INPUT",
                  "route": [
                    [
                      {
                        "type": "v4-pool",
                        "address": "0x636da53e0251b3cb0b4d10dbaff488b294f97bd5212b7e2a7c1bc3fb57fd6e31",
                        "tokenIn": {
                          "address": "0x624e2e7fDc8903165F64891672267AB0FCB98831",
                          "chainId": 8453,
                          "symbol": "SOSO",
                          "decimals": "18"
                        },
                        "tokenOut": {
                          "address": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                          "chainId": 8453,
                          "symbol": "USDC",
                          "decimals": "6"
                        },
                        "sqrtRatioX96": "51868315841017165286814",
                        "liquidity": "60642987270239502",
                        "tickCurrent": "-284797",
                        "fee": "1",
                        "tickSpacing": "1",
                        "hooks": "0x0000000000000000000000000000000000000000",
                        "amountIn": "4666414752365827583",
                        "amountOut": "1999890"
                      }
                    ]
                  ],
                  "input": {
                    "amount": "4666414752365827583",
                    "token": "0x624e2e7fDc8903165F64891672267AB0FCB98831"
                  },
                  "output": {
                    "amount": "1999890",
                    "token": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "recipient": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421"
                  },
                  "slippage": 2.5,
                  "priceImpact": 0.01,
                  "gasFee": "1636896419348",
                  "gasFeeUSD": "0.002335228716641861",
                  "gasFeeQuote": "2335",
                  "gasUseEstimate": "162169",
                  "routeString": "[v4] 100.00% = [0.0001%] [1] [0x0000000000000000000000000000000000000000] 0x636da53e0251b3cb0b4d10dbaff488b294f97bd5212b7e2a7c1bc3fb57fd6e31",
                  "blockNumber": "45041659",
                  "quoteId": "ce44f65c-b16a-46e3-a3cf-23cadea6110b",
                  "gasPrice": "9000000",
                  "txFailureReasons": [],
                  "aggregatedOutputs": [
                    {
                      "amount": "1999890",
                      "token": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "recipient": "0xC9bebBA9f481b12cE6f3EA54c4B182c9636ec421",
                      "bps": 10000,
                      "minAmount": "1949892"
                    }
                  ]
                },
                "permitData": {
                  "domain": {
                    "name": "Permit2",
                    "chainId": 8453,
                    "verifyingContract": "0x000000000022D473030F116dDEE9F6B43aC78BA3"
                  },
                  "types": {
                    "PermitSingle": [
                      {
                        "name": "details",
                        "type": "PermitDetails"
                      },
                      {
                        "name": "spender",
                        "type": "address"
                      },
                      {
                        "name": "sigDeadline",
                        "type": "uint256"
                      }
                    ],
                    "PermitDetails": [
                      {
                        "name": "token",
                        "type": "address"
                      },
                      {
                        "name": "amount",
                        "type": "uint160"
                      },
                      {
                        "name": "expiration",
                        "type": "uint48"
                      },
                      {
                        "name": "nonce",
                        "type": "uint48"
                      }
                    ]
                  },
                  "values": {
                    "details": {
                      "token": "0x624e2e7fDc8903165F64891672267AB0FCB98831",
                      "amount": "1461501637330902918203684832716283019655932542975",
                      "expiration": "1779464665",
                      "nonce": "0"
                    },
                    "spender": "0x6ff5693b99212da76ad316178a184ab56d299b43",
                    "sigDeadline": "1776874465"
                  }
                },
                "smartContractDelegationAddress": "0x000000005c84f8fd50b21cac312528a64437030e"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/universalRouterVersionHeader"
          },
          {
            "$ref": "#/components/parameters/erc20EthEnabledHeader"
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateSwap7702Success200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/SwapUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/SwapNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      }
    },
    "/swap_4337": {
      "post": {
        "tags": [
          "swapping"
        ],
        "summary": "Create swap ERC-4337 UserOperation",
        "description": "Builds and returns a partially-populated ERC-4337 v0.8 UserOperation for executing a swap (including wrap/unwrap and bridging) against the Uniswap Protocols. The response includes any required ERC-20 approval and Permit2 calls bundled into the UserOperation's `callData`. Paymaster fields are left empty for the wallet to populate via `pm_sponsorUserOperation` before signing and submitting to the bundler. The `signature` field contains a dummy value that the wallet must replace before submission.",
        "operationId": "create_swap_4337_transaction",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Swap4337Request"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/universalRouterVersionHeader"
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "UserOperation encoded successfully.",
            "headers": {
              "x-universal-router-version": {
                "$ref": "#/components/headers/universalRouterVersionHeader"
              },
              "x-agent-info-status": {
                "$ref": "#/components/headers/agentInfoStatusHeader"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Swap4337Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/SwapUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/SwapNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "x-internal": true
      }
    },
    "/check_approval_4337": {
      "post": {
        "tags": [
          "swapping"
        ],
        "summary": "Create approval ERC-4337 UserOperation",
        "description": "Builds and returns an ERC-4337 v0.8 UserOperation that performs the ERC-20 approval (and any required allowance reset) needed before a swap. Paymaster fields and `signature` are left for the client to populate. When `sponsorshipInfo.sponsored` is `true`, the approval is tagged for sponsorship and a `paymasterServiceContext` envelope is returned for the client to forward to the paymaster.",
        "operationId": "check_approval_4337",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckApproval4337Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "UserOperation encoded successfully.",
            "headers": {
              "x-agent-info-status": {
                "$ref": "#/components/headers/agentInfoStatusHeader"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckApproval4337Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/SwapUnauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/SwapNotFound404"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "x-internal": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ]
      }
    },
    "/plan": {
      "post": {
        "tags": [
          "chained-swapping"
        ],
        "summary": "Create an execution plan",
        "description": "Creates a multi-step execution plan for chained transactions. The plan breaks down complex multi-chain or multi-transaction flows into sequential steps that can be executed by the client. Each step includes the method (transaction, message signature, or batch calls), payload, and current status. The response includes the current step index to track progress through the plan.",
        "operationId": "create_plan",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreatePlanSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ]
      }
    },
    "/plan/{planId}": {
      "get": {
        "tags": [
          "chained-swapping"
        ],
        "summary": "Get an execution plan",
        "description": "Retrieves an existing execution plan by its ID. Returns the full plan with current status and all steps. If forceRefresh is set to true, the plan will be refreshed to check for any updates to step statuses. Note: Completed plans cannot be refreshed.",
        "operationId": "get_plan",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the plan to retrieve.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "forceRefresh",
            "in": "query",
            "required": false,
            "description": "Whether to force refresh the plan status. Defaults to false. Completed plans cannot be refreshed.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetPlanSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        }
      },
      "patch": {
        "summary": "Update an execution plan",
        "description": "Updates an existing execution plan by submitting proof of completed plan steps (transaction hashes or signatures). The endpoint retrieves the existing plan, attaches proofs to specified steps, verifies the proofs, and potentially regenerates remaining steps if needed. Returns the full updated plan with current status. Note: Order IDs are not accepted in requests; they are system-generated after receiving a signature.",
        "operationId": "update_plan",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the plan to update.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdatePlanSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "tags": [
          "chained-swapping"
        ]
      }
    },
    "/wallet/encode_4337": {
      "post": {
        "tags": [
          "utilities"
        ],
        "summary": "Encode ERC-4337 UserOperation",
        "description": "Builds and returns a fully-populated ERC-4337 v0.8 UserOperation for the given batch of calls. When a `paymasterUrl` is provided the endpoint attempts gas sponsorship via the paymaster; the response indicates whether sponsorship was granted and includes sponsor metadata when available.",
        "operationId": "encode_4337",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Encode4337Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "UserOperation encoded successfully.",
            "headers": {
              "x-agent-info-status": {
                "$ref": "#/components/headers/agentInfoStatusHeader"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Encode4337Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "x-internal": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ]
      }
    },
    "/margin/markets": {
      "get": {
        "operationId": "MarginMarkets",
        "summary": "Discover the margin markets a chain can trade",
        "description": "The market picker's feed. One row per `(exposureToken, counterToken, direction)`.\n\n**Indicative by construction, and that is the point.** Rates move every block, so no listing agrees with a quote taken seconds later. The quote re-reads on chain and stamps its bounds into router calldata, so a stale row costs a re-quote and never a bad execution. That is what makes this endpoint cacheable.\n\n**The ceiling is NOT indicative.** `maxLeverage` comes from the same policy function the quote refuses on, applied to the same `maxLtv` the support check read, so a picker cannot offer a leverage the quote will reject. Never recompute it client-side from `lltv`: the LTV cliff buffer SCALES the ceiling rather than subtracting from it, so 86% at 400bps is 82.56% and not 82%.\n\n**Each market yields BOTH readings.** A venue market is a (collateral, debt) pair, and the same on-chain position is a long of its collateral and a short of its debt. Shorting a token is only expressible as a market whose debt it is, so emitting one reading would leave a caller unable to find the side they wanted.\n\n**Always paginated**, on the same contract as `GET /orders` and `GET /plans`: `limit` (default and max 20) plus an opaque `cursor` in, `nextCursor` out. There is no unbounded response. Not user-scoped, so there is no `swapper`.\n\n`borrowRate`, `availableBorrowLiquidity`, `oraclePrice` and `feeBps` are not populated yet and are absent rather than zero, since a zero rate and an unread rate are different facts.",
        "parameters": [
          {
            "name": "chainId",
            "in": "query",
            "required": true,
            "description": "The chain the markets live on.",
            "schema": {
              "$ref": "#/components/schemas/ChainId"
            }
          },
          {
            "name": "exposureToken",
            "in": "query",
            "required": false,
            "description": "Narrows to rows whose exposure is this token, in TRADER terms: it is the market's collateral on a LONG row and its debt on a SHORT one.",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          },
          {
            "name": "counterToken",
            "in": "query",
            "required": false,
            "description": "Narrows to rows whose counter side is this token.",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "Narrows to one side.",
            "schema": {
              "$ref": "#/components/schemas/MarginDirection"
            }
          },
          {
            "name": "venues",
            "in": "query",
            "required": false,
            "description": "Comma-separated LENDING allowlist, e.g. `MORPHO,AAVE_V3`. A named subset also re-decides `headlineVenue` over that subset, so it filters the answer and not only the search. An unrecognised value is a 400 rather than a silent drop, since answering over a different set than was asked for is undetectable by the caller.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque. Echo `nextCursor` back verbatim to get the following page. A KEYSET cursor over the row order, not an offset: the catalogue is rebuilt on a timer, and an offset taken against one build silently skips or repeats rows against the next. A cursor that does not decode is a 400 `MARGIN_INVALID_CURSOR` rather than a silent restart, which would loop a client forever.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows per page. Defaults to 20 and caps at 20, matching `GET /orders` and `GET /plans`, so a client that already pages those needs no second set of rules. **Every** response is bounded whether or not a caller asks: nothing about this endpoint limits its own size, and the row count grows whenever governance allows a market.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 20
            }
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "The markets this chain can trade.",
            "headers": {
              "x-agent-info-status": {
                "$ref": "#/components/headers/agentInfoStatusHeader"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarginMarketsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/MarginBadRequest400"
          },
          "403": {
            "$ref": "#/components/responses/MarginDisabled403"
          },
          "503": {
            "$ref": "#/components/responses/MarginUnavailable503"
          }
        },
        "x-internal": true
      }
    },
    "/margin/positions": {
      "get": {
        "operationId": "MarginPositions",
        "summary": "A wallet's margin positions on a chain",
        "description": "The positions tab's feed. One row per `(exposureToken, counterToken, direction)`, aggregated at read time from the legs a wallet actually holds.\n\n**Everything here is read on chain, per request.** There is no index and no store behind it: position accounts are a pure CREATE2 function of `(swapper, subId)`, so the addresses are known offchain for free and the only question the chain answers is which of them hold anything. That is what makes the feed correct from a device that has never seen this wallet before, and correct in the same block an open lands. A health factor is the one number a caller must not act on stale, which is why none of this is cached.\n\n**Legs are the unit of truth.** A logical position can span venues, and venues liquidate independently, so a row's risk numbers are the NEAREST leg's rather than an average. Balances add across legs; risk does not.\n\n**Risk is in TRADER terms.** `oraclePrice` and `liquidationPrice` are both reciprocated on a SHORT, so `liquidationPrice / oraclePrice` equals `healthFactor` on either side. A row that mixed frames would still satisfy every type check and be wrong by a factor of the price.\n\n**`maxWithdrawable` is bounded by the BUFFERED ceiling, not the raw LLTV.** There is no on-chain guard on a withdraw, so this figure is the whole guard. Never recompute it client-side from `lltv`.\n\n**Always paginated**, on the same keyset contract and the same cursor as `GET /margin/markets`: `limit` (default and max 20) plus an opaque `cursor` in, `nextCursor` out.\n\nCost-basis fields (`entryPrice`, `openedAt`, `accruedInterest`, `unrealizedPnl`, `roe`) and the terminal fields need the margin event consumer and are ABSENT rather than zero in v1: a zero PnL is a claim, an absent one is not. For the same reason a non-`ACTIVE` `status` currently returns an empty page rather than a refusal — the question is valid, the data is not yet indexed.",
        "parameters": [
          {
            "name": "swapper",
            "in": "query",
            "required": true,
            "description": "The wallet whose positions to read. Not taken from the session: a caller may legitimately read another address, and every number here is public on chain.",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "required": true,
            "description": "The chain the positions live on.",
            "schema": {
              "$ref": "#/components/schemas/ChainId"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Selects the tab. Unset means `ACTIVE`. Terminal statuses parse and return an empty page until the event consumer ships.",
            "schema": {
              "$ref": "#/components/schemas/MarginPositionStatus"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque. Echo `nextCursor` back verbatim. A KEYSET cursor over the row order, the same one `GET /margin/markets` issues. A cursor that does not decode is a 400 `MARGIN_INVALID_CURSOR` rather than a silent restart, which would loop a client forever.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows per page. Defaults to 20 and caps at 20, matching `GET /margin/markets`, `GET /orders` and `GET /plans`.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "This wallet's positions on this chain.",
            "headers": {
              "x-agent-info-status": {
                "$ref": "#/components/headers/agentInfoStatusHeader"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarginPositionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/MarginBadRequest400"
          },
          "403": {
            "$ref": "#/components/responses/MarginDisabled403"
          },
          "503": {
            "$ref": "#/components/responses/MarginUnavailable503"
          }
        },
        "x-internal": true
      }
    },
    "/margin/quote": {
      "post": {
        "tags": [
          "margin"
        ],
        "summary": "Get a margin quote",
        "description": "Prices a margin action (opening, closing, or managing a leveraged position) and returns both the execution subtree `POST /plan` consumes and the projections a confirmation modal renders.\n\nOne endpoint prices every action, in either direction. The market is addressed in TRADER terms (`exposureToken`, `counterToken`, `direction`), never in venue terms: `direction` alone decides which side is collateral and which is debt, so a client never sends a collateral/debt pair and never reorders the pair to mean short.\n\nThe body is a shared block plus exactly one of ten action keys. Two shared blocks are required-or-forbidden per key rather than optional: the wallet block (`walletToken`, `walletChainId`, `swapConfig`) is forbidden on `increaseLeverage` and `decreaseLeverage` and required on the other eight, and the top-level `slippageTolerance` is forbidden on `addEquity` and `withdrawEquity` and required on the other eight. See `MarginQuoteRequest` for the per-key rules.\n\nTwo tolerances, neither defaulting from the other: the top-level `slippageTolerance` bounds the LEVERAGE leg, the flash-accounted debt-funded swap inside the router, and is always an explicit percentage because it derives the calldata bounds that act as the MEV backstop. `swapConfig` bounds the WALLET-side swap and is the only place `autoSlippage` is accepted.\n\nUnits: amounts are decimal strings in the token's native decimals, leverage is a decimal string, and prices, the liquidation health factors and borrow rates are unsuffixed 18-decimal fixed point. Every response enum is serialized, including at its default value.\n\n**All ten action keys are served.**\n\n`close` is the one with nothing to solve and a risk none of the others carry: the debt it must clear KEEPS GROWING between the read and the router repaying it, so `debtToRepay` deliberately EXCEEDS what the position owes. The over-buy is the projected accrual over the inclusion window plus a small safety margin, and a trailing `SWEEP` returns whatever the buffer did not need. A close therefore reports `debtRepaid` (the debt itself) and `collateralReturned`, and reports NO leverage, liquidation price or health factor, because the position it describes will not exist. A position whose collateral cannot cover buying its debt back within the slippage-padded cap is refused with a 422 `MARGIN_CLOSE_UNFUNDABLE` rather than answered with a negative payout.\n\nA composite populates MORE than one operation, in the order they execute, and the equity side sits on opposite ends depending on which way it moves. A supply goes FIRST, because it strictly lowers LTV, so the borrow that follows is the only step raising it. A withdrawal goes LAST, matching what the router does. Both withdraw composites currently pay out ONLY in the position's collateral token, for the same reason the bare `withdrawEquity` does.\n\nWhich direction an action swaps in is decided by the SOLVE, not by the key. A target above what the position already holds buys collateral with borrowed funds and emits `INCREASE_POSITION` with `collateralToBuy` and `maxDebtIn`; a target below it sells collateral to repay debt and emits `DECREASE_POSITION` with `debtToRepay` and `maxCollateralIn`. `addEquityAndDecreaseLeverage` does BOTH depending on the numbers: deleveraging does not imply selling, it implies the equity grew faster than the size, so a modest target still buys while an aggressive one sells. The bound is always on the side the router gives up.\n\nAll six leverage-target keys (`increaseLeverage`, `decreaseLeverage` and the four equity composites) price whichever leg the solve's sign calls for, through the same v4 quoter: a target the position reaches by buying prices a leverage leg, and one it can only reach by selling prices a deleverage leg. So `addEquityAndDecreaseLeverage` normally still BUYS, and a target low enough to need a sale is priced as a `DECREASE_POSITION` rather than refused. What IS refused is a target that leaves the position exactly where it is with no equity moving, which is a `MARGIN_INTENT_MISMATCH` rather than an empty operation.\n\n`increaseLeverage` and `decreaseLeverage` hold EQUITY and move only the debt, which is the mirror of the equity keys. Both price a leverage-side leg, so both require the top-level `slippageTolerance`, and both forbid the wallet rail entirely: nothing crosses the wallet boundary, so neither serves a `funding` block. The key is an ASSERTION about which way leverage moves, checked before the leverage leg is priced (on the two add composites the wallet-side funding swap is priced first, since the target is measured against the equity it actually delivers, so a funding refusal precedes an intent mismatch there): a target on the wrong side of the position's current leverage is refused with `MARGIN_INTENT_MISMATCH` naming the key that fits (an `increaseLeverage` aimed below current leverage names `decreaseLeverage`, and the composites are corrected on their leverage axis only), while a target exactly at the current leverage satisfies either key. A target past the buffered LTV ceiling is refused with a 422 `MARGIN_LEVERAGE_EXCEEDS_MAX`.\n\nThe two equity keys hold size, so they borrow nothing, swap nothing on the leverage side and move no debt: their whole effect is on the collateral, which makes leverage fall on an add and rise on a withdrawal. Neither serves an `effectivePrice`, because there is no swap for one to describe, and their single operation is `ADD_COLLATERAL` or `WITHDRAW`.\n\n`withdrawEquity` currently pays out ONLY in the position's collateral token: its `walletToken` must equal that collateral, and any other value is refused with `MARGIN_FUNDING_SWAP_UNSUPPORTED`, because the swap that would sell the proceeds is not priced yet. A withdrawal is also held back from the venue's liquidation threshold by the LTV cliff buffer, so a request that would land the position on the edge is refused with a 422 `MARGIN_LEVERAGE_EXCEEDS_MAX` even when it is under the venue's own limit.",
        "operationId": "margin_quote",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/agentInfoHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarginQuoteRequest"
              },
              "examples": {
                "longOpenMorpho": {
                  "summary": "3x long WETH against USDC, 1 WETH of equity, held at Morpho",
                  "description": "Equity is paid in WETH, which is also the collateral token for a long, so no funding swap is needed. `open` carries the whole action; the wallet block and the leverage leg's `slippageTolerance` are both required for this key.",
                  "value": {
                    "positionChainId": 1,
                    "exposureToken": "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2",
                    "counterToken": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                    "direction": "LONG",
                    "swapper": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045",
                    "slippageTolerance": 0.5,
                    "walletToken": "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2",
                    "walletChainId": 1,
                    "swapConfig": {
                      "autoSlippage": "DEFAULT"
                    },
                    "open": {
                      "leverageTarget": "3",
                      "venues": [
                        "MORPHO"
                      ],
                      "amount": "1000000000000000000"
                    }
                  }
                },
                "shortOpenAaveV3": {
                  "summary": "2x short WETH against USDC, 2000 USDC of equity, held at Aave v3",
                  "description": "Equity is paid in USDC, which is the collateral token for a short, so again no funding swap. Only `direction` and the action key differ from the long request.",
                  "value": {
                    "positionChainId": 1,
                    "exposureToken": "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2",
                    "counterToken": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                    "direction": "SHORT",
                    "swapper": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045",
                    "slippageTolerance": 0.5,
                    "walletToken": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                    "walletChainId": 1,
                    "swapConfig": {
                      "autoSlippage": "DEFAULT"
                    },
                    "open": {
                      "leverageTarget": "2",
                      "venues": [
                        "AAVE_V3"
                      ],
                      "amount": "2000000000"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarginQuoteSuccess200"
          },
          "400": {
            "$ref": "#/components/responses/MarginBadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/MarginDisabled403"
          },
          "422": {
            "$ref": "#/components/responses/MarginUnprocessable422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedErr429"
          },
          "500": {
            "$ref": "#/components/responses/InternalErr500"
          },
          "503": {
            "$ref": "#/components/responses/MarginUnavailable503"
          },
          "504": {
            "$ref": "#/components/responses/Timeout504"
          }
        },
        "x-internal": true
      }
    }
  },
  "components": {
    "responses": {
      "OrdersSuccess200": {
        "description": "The request orders matching the query parameters.",
        "headers": {
          "x-agent-info-status": {
            "$ref": "#/components/headers/agentInfoStatusHeader"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetOrdersResponse"
            },
            "example": {
              "orders": [
                {
                  "encodedOrder": "0x0000000000...",
                  "signature": "0xcc803880b7...",
                  "nonce": "1993350603649363012805190338010060803841095487773749076708031661332198422531",
                  "orderStatus": "cancelled",
                  "chainId": 1,
                  "orderId": "0x7030883e6b34144d7f5e731bde66e23eb124f160f857cc5bc33c5c280fa63701",
                  "createdAt": 1774555222,
                  "settledAmounts": [
                    {
                      "tokenOut": "0x45e02bc2875A2914C4f585bBF92a6F28bc07CB70",
                      "amountOut": "3306647558219378950381",
                      "tokenIn": "0xdAC17F958D2ee523a2206206994597C13D831ec7",
                      "amountIn": "1211000000"
                    }
                  ],
                  "cosignature": "0x29979349ca...",
                  "swapper": "0xb659Bb7b4B3fEc43F071F6f95cF975E1Aa89C6Ed",
                  "quoteId": "3a0200d7-be0c-46d5-b19e-82a6c2719480",
                  "txHash": "0x0b12fb61cd06dc179f270c4525584d07fc08911f78c4a940997981d01037fff7",
                  "type": "Dutch_V2",
                  "outputs": [
                    {
[...]
